<li id="comment_<%= comment.id -%>">
  <a name="comment_<%= comment.id -%>" ></a>
  <div class="info">
    <%= link_to comment.id, post_path(comment.post) + "#comment_#{comment.id}", :title => comment.display_title %>
    <%= comment.created_at %>
    Re: <%= comment.display_title %>
    <!-- TODO admin only 
    <%= link_to 'Edit', edit_post_comment_path(@post, comment) %>
    <%= link_to 'Destroy', post_comment_path(@post, comment), :confirm => 'Are you sure?', :method => :delete %> -->
  </div>
  <%=markdown h(comment.body) -%>
  <div class="author">
    <%= comment.linked_author %>
  </div>
</li>