<li id="comment_<%= comment.id -%>">
  <a name="comment_<%= comment.id -%>" ></a>
  <%=markdown h(comment.body) -%>
  <div class="controls">
    <%= link_to 'Show', post_comment_path(comment.post, comment) %>
    <!-- TODO admin only 
    <%= link_to 'Edit', edit_post_comment_path(@post, comment) %>
    <%= link_to 'Destroy', post_comment_path(@post, comment), :confirm => 'Are you sure?', :method => :delete %> -->
  </div>
</li>