<%- form_remote_for(comment, :url => post_comments_path(comment.post)) do |f| -%>
  <%= f.error_messages %>

  <p><%= f.label :title, 'Subject' -%> <%= f.text_field :title %></p>
  <p><%= f.label :body, 'Comment' -%> <%= f.text_area :body, :rows => 7, :cols => 50 %></p>
  <p><%= f.label :author, 'Your Name' -%> <%= f.text_field :author %></p>
  <p><%= f.label :author_email, 'Your Email' -%> <%= f.text_field :author_email %> (Will not be displayed)</p>
  <p><%= f.label :author_url, 'Your Website' -%> <%= f.text_field :author_url %></p>
  <p><%= f.label :submit, '&nbsp;' -%> <%= f.submit 'Comment' %></p>
<%- end -%>
