<h2><%= link_to h(post.title), post -%></h2>
<div class="info">
  <div class="comments_count">
    <%= link_to post.comments_count, "#comments", :id => "comments_count_#{post.id}", :class => 'comments_count_count' -%>
    <%= link_to "Comment#{'s' unless post.comments_count == 1 }", "#comments" -%>
  </div>
  <%= render :partial => 'tags/tag_list', :locals => {:taggable => post}%>
  <%= render :partial => 'tags/add_form', :locals => {:taggable => post}%>
  <%= render :partial => 'posts/related_posts', :locals => {:post => post}%>
  <%= render :partial => 'posts/add_related_form', :locals => {:post => post}%>
  <div class="published_at"><%=h post.published_at %></div>
  <div class="author"><%=h post.user_id %></div>
  <%= link_to 'Edit', edit_post_path(post) %>
</div>
<div class="content">
  <%= post.rendered_body -%>
</div>
<div style="clear:both;"></div>