<%= content_tag :h2, link_to(h(post.title), post) unless local_assigns.has_key? :hide_header -%>
<div class="info">
  <div class="comments_count">
    <%= link_to post.comments_count, "#comments", :id => "comments_count_#{post.id}", :class => 'comments_count_count' -%>
    <%= link_to "Comment#{'s' unless post.comments_count == 1 }", "#comments" -%>
  </div>
  <%= render :partial => 'tags/tag_list', :locals => {:taggable => post}%>
  <%= render :partial => 'tags/add_form', :locals => {:taggable => post}%>
  <%= render :partial => 'posts/related_posts', :locals => {:post => post}%>
  <%= render :partial => 'posts/add_related_form', :locals => {:post => post}%>
  <div class="published_at"><%= link_to post.published_at, date_index_url(post.published_at.to_date.to_s(:number)) %></div>
  <div class="author"><%=h post.user.name %></div>
  <%= link_to 'Edit', edit_post_path(post) %>
</div>
<div class="content">
  <%= post.rendered_body -%>
</div>
<div style="clear:both;"></div>